@font-face {
    font-family: "MortalKombat";
    src: url("../fonts/mk4.ttf");
}


/*https://css-tricks.com/perfect-full-page-background-image/*/

html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    background: none;
}

.mkFont {
    font-family: "MortalKombat";
}

.pgHead {
    padding-top: 0;
    font-size: 100px;
    color: red;
    text-align: center;
    background: none;
}

.clearPanel {
    background: none;
}

#charSelectHeader {
    font-size: 50px;
    color: red;
    text-align: center;
    padding: 10px 0 10px 0;
}

#charSelection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.characterBox {
    position: relative;
    display: inline-block;
    border-radius: 20px;
}

.characterImg {
    width: 100%;
    height: 100%;
}

.characterBox:hover {
	box-shadow: 0 0 3pt 2pt black;
}

.characterName {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    margin-bottom: 0;
    color: red;
    text-align: center;
}